* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('images/bgimg.jpg');
}

.main {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    /* margin-top: 100px;
    margin-left: 480px;
    margin-right: 480px;
    margin-bottom: 100px; */
    margin: 80px auto;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 2px black;
    background: linear-gradient(#373B44 45%, #4286f4 35%, #203A43 20%);
}

.screenInput {
    height: 30px;
}

.logo {
    font-family: 'Krona One', sans-serif;
    color: white;
    margin: 8px;
}

.btn {
    width: 70px;
    height: 30px;
}

.tasks {
    margin: 20px 5px;
}

li {
    list-style: none;
    color: white;
    font-size: 25px;
}

@mediaquery(max-width: 767px) {
    .main {
        Width: 250px;
        height: 30vh;
        padding: 30px;
        margin-left: 10px;
        margin-right: 10px;
        /* margin-top: 100px; */
        Overflox: hidden;
    }
}